.main_container
{
  /* background-color:green; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p
{
  font-size: 30px;
  color: rgb(55, 54, 54);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  
}
.sec_container
{
  /* background-color:green; */
  height: 550px;
  width: 90%;
  overflow: scroll;
  border: 2px solid #1C77B6;
}

.table_container
{
  background-color:white;
  /* border: black 1px solid; */
  width: max-content;

  /* width: 20%; */
}

.table_row
{
  margin-bottom: 5px;
}

.table_column_head
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:  rgb(84, 95, 119);
  color: white;
  font-size: 20px;
}

.table_column
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  /* background-color: lightgray; */
}

.table_container tr:nth-child(even){background-color: #e1dede; color: black;  }
.table_container tr:nth-child(odd){background-color: rgb(136, 137, 141);color: black; }